.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

form {
  width: 100%;
  max-width: 600px;
}

.form_control {
  margin-bottom: 1.5rem;
  width: 100%;
}

.form_control h3 {
  color: #fff;
}

.form_control input {
  background-color: transparent;
  width: 100%;
  padding: 1em;
  border: 2px solid #494949;
  color: #fff;
  border-radius: 10px;
  transition: 0.3s;
}

.form_control input:focus {
  outline: none;
  border: 2px solid #707070;
}

textarea[name="content"] {
  width: 100%;
  height: 300px;
  padding: 0.5rem;
  border: 2px solid #494949;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}

textarea:focus {
  outline: none;
  border: 2px solid #707070;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #80bd82;
}

.container_html {
  max-width: 600px;
  color: #fff;
}

.form_control_checkbox {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ccc;
}

.checkbox_label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
}

.checkbox_label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox_custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 3px;
}

.checkbox_label input[type="checkbox"]:checked ~ .checkbox_custom {
  background-color: #2196f3;
}

.checkbox_custom::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox_label input[type="checkbox"]:checked ~ .checkbox_custom::after {
  display: block;
}

.checkbox_label .checkbox_custom::after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.profile_section {
  max-width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image_section {
  display: flex;
  align-items: center;
}

.info_note h2 {
  font-size: 2em;
}

.info_note h3 {
  font-size: 1.5em;
  color: #ccc;
  font-weight: 100;
}
