/* Estilos personalizados para o ReactQuill */
/* Substitua #ff0000 pelo código de cor desejado */

/* Cor do editor */
.ql-editor {
  background-color: #222;
}

/* Cor do texto */
.ql-editor .ql-blank::before,
.ql-editor p {
  color: #fff;
}

.ql-editor h1, .ql-editor h2, .ql-edior h3 {
  color: #fff
}

.ql-editor ol {
  color: #fff;
}

/* Cor dos botões da barra de ferramentas */
.ql-toolbar button {
  color: #fff;
}

/* Cor dos ícones da barra de ferramentas */
.ql-toolbar svg {
  fill: #fff;
}
