/* Note.module.css */
.container {
  display: flex;
  flex-direction: column;
}

.container_note {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 2em;
}

.note {
  max-width: 300px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  flex: 1; /* Já estava presente */
}

.note h2 {
  margin-bottom: 10px;
}

.note p {
  margin-bottom: 20px;
}

.note a {
  width: 30%;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 0.5em;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.note a:hover {
  transform: scale(1.04);
  color: #222;
  background-color: #fff;
}

.button_section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.3s;
}

.button_section button:hover {
  transform: scale(1.04);
}

.delete_btn {
  background-color: #960606;
}

.delete_btn:hover {
  transform: scale(1.04);
  background-color: #520505;
}

.delete_btn_cancel, .delete_btn_confirm {
  margin-top: .3em;
  margin-left: 2.5em;
}

.delete_btn_confirm {
  background-color: #960606;
}

.delete_btn_confirm:hover {
  transform: scale(1.04);
  background-color: #520505;
}

.delete_btn_cancel:hover {
  transform: scale(1.04);
}
